@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
}

body, html {
  height: 100%;
  font-size: 13px;
}

body {
  border: 1px solid green;
  max-width: 1440px;
  min-width: 310px;
  margin: 0 auto;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

h1, h2 {
  font-weight: 700;
}

h2 {
  font-size: 1.47rem;
}

h3 {
  font-size: 1.23rem;
}

input[type=submit], li {
  cursor: pointer;
}

header {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FFF), to(#EDEDED));
  background-image: linear-gradient(to bottom right, #FFF, #EDEDED);
}

.header-container {
  padding-top: 3.15rem;
  padding-bottom: 7.2rem;
  margin-left: 1.93rem;
  margin-right: 1.93rem;
}

h1 {
  margin-bottom: 5.8rem;
  font-size: 5.6rem;
  font-weight: 700;
  max-width: 34.62rem;
  letter-spacing: 0.30rem;
  color: #292929;
}

h1 .line2 {
  margin-top: -2.39rem;
  background-color: #dc186e;
  background-image: -webkit-gradient(linear, left top, right top, from(#dc186e), to(#2AA1FE));
  background-image: linear-gradient(to right, #dc186e, #2AA1FE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subscription {
  text-align: center;
}

input {
  font-family: 'Poppins', sans-serif;
}

input[type=email] {
  width: 100%;
  padding: 0.58rem 2.3rem 0.58rem 3.85rem;
  margin-bottom: 1.7rem;
  background-image: url("/assets/icons/email-icon.svg");
  background-position: 1.16rem 0.58rem;
  background-repeat: no-repeat;
  background-color: #EDEDED;
  border: 0.3rem solid rgba(41, 41, 41, 0.8);
  border-radius: 7.7rem;
  font-size: 1.077rem;
}

input[type=email]::-webkit-input-placeholder {
  color: #3B3B3B;
}

input[type=email]:-ms-input-placeholder {
  color: #3B3B3B;
}

input[type=email]::-ms-input-placeholder {
  color: #3B3B3B;
}

input[type=email]::placeholder {
  color: #3B3B3B;
}

input[type=email]:focus-visible {
  outline: none;
  border: 0.3rem solid #2AA1FE;
}

input[type=submit] {
  padding: 0.65rem 2.6rem;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, right top, left top, from(#047CD9), color-stop(20%, #2AA1FE), color-stop(90%, #B50B56));
  background-image: linear-gradient(270deg, #047CD9 0%, #2AA1FE 20%, #B50B56 90%);
  background-size: 135%;
  background-position: left;
  -webkit-transition: background-position .4s ease-out;
  transition: background-position .4s ease-out;
  outline: none;
  border: none;
  border-radius: 5.38rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.07rem;
  color: #FFF;
}

input[type=submit]:hover {
  background-position: right;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
  width: 100%;
  background: #999999;
  padding: 0 1.93rem 24rem 1.93rem;
}

.counter-container {
  position: absolute;
  margin-top: -1.077rem;
  margin-bottom: 13.4rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.time-container {
  margin-left: 1.29rem;
}

.time-container:first-child {
  margin-left: 0;
}

.outer-circle {
  height: 5.25rem;
  width: 5.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #2AA1FE;
  background-image: linear-gradient(250deg, #047CD9 5%, #2AA1FE 20%, #dc186e 90%);
  -webkit-box-shadow: 0.097rem -0.097rem 0.72rem rgba(0, 0, 0, 0.2);
          box-shadow: 0.097rem -0.097rem 0.72rem rgba(0, 0, 0, 0.2);
}

.inner-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4.6rem;
  width: 4.6rem;
  background-image: radial-gradient(#F5F5F5, #FFF);
  border-radius: inherit;
  font-family: 'Michroma', sans-serif;
  font-size: 1.23rem;
  letter-spacing: 0.077rem;
  color: #3B3B3B;
}

.number-days {
  letter-spacing: 0.054rem;
}

.time-label {
  margin-top: 0.6rem;
  color: #F5F5F5;
  text-align: center;
}

.button-container {
  position: absolute;
  margin-top: 12rem;
  margin-left: 1.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.button-container .button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2rem;
  height: 2rem;
  padding: 0;
  background: -webkit-gradient(linear, left top, right bottom, from(#FFF), to(#EDEDED));
  background: linear-gradient(to bottom right, #FFF, #EDEDED);
  border-radius: 13%;
}

.button-container .button svg * {
  width: 100%;
  height: 100%;
}

.button-container .button svg {
  width: 2rem;
  height: 2rem;
}

.button-container .button svg path {
  stroke: #3B3B3B;
}

.button-container .button .border-bg {
  position: absolute;
  top: -0.2rem;
  bottom: -0.2rem;
  left: -0.2rem;
  right: -0.2rem;
  background: -webkit-gradient(linear, left top, right top, from(#dc186e), to(#2AA1FE));
  background: linear-gradient(to right, #dc186e, #2AA1FE);
  border-radius: 15%;
  z-index: -3;
}

.social-icons {
  position: absolute;
  margin-top: 19rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

li {
  display: inline-block;
  margin-left: 1.54rem;
}

li svg path {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  fill: #FFF;
}

li:first-child {
  margin-left: 0;
}

li:hover {
  opacity: 0.8;
}

li:hover svg path {
  fill: #3B3B3B;
}

.attribution {
  position: relative;
  top: 22rem;
  font-size: 0.7rem;
  color: #EDEDED;
  text-align: center;
}

@media screen and (min-width: 640px) {
  body {
    border: 2px dashed gold;
  }
}

@media screen and (min-width: 1024px) {
  .header-container {
    border: 1px solid black;
    padding-top: 7.70rem;
    margin-left: 10.92rem;
    margin-right: 10.92rem;
    background-image: url(../../assets/hero-img.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 35%;
  }
  h1 {
    width: 50%;
    margin-bottom: 3.46rem;
    font-size: 7.761rem;
  }
  .subscription {
    text-align: initial;
  }
  input[type=email] {
    width: 60%;
    padding: 1.84rem 2.3rem 1.84rem 5.38rem;
    background-image: url("/assets/icons/email-icon.svg");
    background-position: 1.7rem 2rem;
    background-repeat: no-repeat;
    background-color: #EDEDED;
    border: 0.5rem solid rgba(41, 41, 41, 0.8);
    border-radius: 7.7rem;
    font-size: 1.24rem;
  }
  input[type=email]:focus-visible {
    border: 0.5rem solid #2AA1FE;
  }
  input[type=submit] {
    padding: 1.27rem 3.84rem;
    margin: 0 auto 0 -18.5rem;
    font-size: 1.46rem;
    font-weight: 700;
  }
  .button-container {
    margin-top: 3rem;
  }
}
/*# sourceMappingURL=main.css.map */