//light, regular, medium, bold
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none; 
   }

body, html {
    height: 100%;
    font-size: 13px;
}

body {
    border: 1px solid green;
    
    
    max-width: 1440px;
    min-width: 310px;
    margin: 0 auto;

    
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
        
}

h1, h2 {
    font-weight: 700;
}

h2 {
    font-size: 1.47rem;
}

h3 {
    font-size: 1.23rem;
}

input[type=submit], li {
    cursor: pointer;
}

@mixin media-sm {
    @media screen and (min-width: 640px) {
        @content;
    }
}

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    } 
}

@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}




