footer {
    position: relative;    
    display: flex;
    height: 37%;
    
    width: 100%;
    background: #999999;
    padding: 0 1.93rem 24rem 1.93rem;
    z-index: 2;                 
}

.counter-container {
    position: absolute;
    display: flex;

    margin-top: -1.077rem;
    margin-bottom: 13.4rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3; 
}

.time-container {
    margin-left: 1.29rem;

    &:first-child {
        margin-left: 0;        
    }
        
}

.outer-circle {    
    height: 5.25rem;
    width: 5.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50%;
    background-color: $secondary;
    background-image: $to-right-test;
    box-shadow: 0.097rem -0.097rem 0.720rem hsla(0, 0%, 0%, 0.2);
    
}

.inner-circle {    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.6rem;
    width: 4.6rem;
    
    background-image: $circle-bg;
    border-radius: inherit; 

    font-family: 'Michroma', sans-serif;
    font-size: 1.23rem;
    letter-spacing: 0.077rem;
    
    color: $dark-minus;
}

// target 'Days' circle only
.number-days {
    letter-spacing: 0.054rem;
    
}

.time-label {    
    margin-top: 0.6rem;
    color: $light;    
    text-align: center;
}

.btn-container {    
    position: absolute;
    
    margin-top: 12rem;
    margin-left: 1.5rem;   
    transform: translateY(-50%);    
    
    cursor: pointer; 

    .modal-toggler {
        position: relative;

        display: flex;       
        align-items: center;        
        justify-content: center;
              
        width: 2rem;
        height: 2rem;
        padding: 0;
        
        background: $header-bg;
        border-radius: 13%;           

            svg {
                
                width: 2rem;
                height: 2rem;    
                path {
                    stroke: $dark-minus;
                }
            }

        .border-bg {
            position: absolute;
            
            top: -0.2rem;
            bottom: -0.2rem;
            left: -0.2rem;
            right: -0.2rem;            
            
            background: $to-right;            
            border-radius: 15%;

            z-index: -3;
        }
    }
}

.social-icons {
    position: absolute;
    margin-top: 19rem;
    left: 50%;
    transform: translateX(-50%);      
}

li {
    display: inline-block;

    margin-left: 1.54rem;
    
    svg {
        path {
            transition: all .5s ease;
            fill: $light-minus;
        }
    }

    &:first-child {
        margin-left: 0;           
    }

    &:hover {
        opacity: 0.8;
        svg {
            
            path {
                fill: $dark-minus;                                
            }
        }
    }
}

.attribution {
    position: relative;
    top: 22rem;
    margin: 0 auto;
    font-size: 0.7rem;
    color: $light-plus;
    text-align: center;
}