header {
    background-image: $header-bg;   
   
}

.header-container {   
    // border: 1px solid black;
    // height: 61vh;    
    padding-top: 3.15rem;
    padding-bottom: 7.2rem;
    margin-left: 1.93rem;
    margin-right: 1.93rem;
       
}

h1 {    
    margin-bottom: 5.8rem; 
    font-size: 5.6rem;
    font-weight: 700;
    max-width: 34.62rem;
    letter-spacing: 0.30rem;
    color: $dark;
   

    .line2 {
        // border: 1px dashed orange;
        margin-top: -2.39rem;
        background-color: $primary;
        background-image: $to-right;
        -webkit-background-clip: text;        
        -webkit-text-fill-color: transparent;
    }
}

.subscription {    
    text-align: center;
}

input {
    font-family: 'Poppins', sans-serif;
}

input[type=email] {
    width: 100%;    
    padding: 0.58rem 2.3rem 0.58rem 3.85rem;
    margin-bottom: 1.7rem;

    background-image: url('/assets/icons/email-icon.svg');
    background-position: 1.16rem 0.58rem;
    background-repeat: no-repeat;
    background-color: $light-plus;

    border: 0.3rem solid $dark-80;
    border-radius: 7.7rem;
    
    font-size: 1.077rem;
    
    
    &::placeholder {
        color: $dark-minus;
    }
    
    &:focus-visible {
        outline: none;
        border: 0.3rem solid $secondary;
    }

    
}

input[type=submit] {    
    padding: 0.65rem 2.6rem;
    margin: 0 auto;
    background-image: $to-right-double;
    
    background-size: 135%;
    background-position: left;

    -webkit-transition: background-position .4s ease-out;
    transition: background-position .4s ease-out;
    
    
    

    outline: none;
    border: none;
    border-radius: 5.38rem;

    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.07rem;
    color: $light-minus;

    &:hover {
        // opacity: 0.9;
        //background-size: 100%;
        background-position: right;
        
    }
}




