header {   
    // border: 1px solid black;
    height: calc(61.6vh - 3.15rem);
    margin-top: 3.15rem;
    margin-left: 25px;
    margin-right: 25px;
       
}

h1 {
    // border: 1px solid red;
    margin-bottom: 5.8rem; 
    font-size: 5.6rem;
    font-weight: 700;
    max-width: 450px;
    letter-spacing: 0.30rem;
    color: $dark;
   

    .line2 {
        // border: 1px dashed orange;
        margin-top: -31px;
        background-color: $primary;
        background-image: $to-right;
        -webkit-background-clip: text;        
        -webkit-text-fill-color: transparent;
    }
}

.subscription {
    
    text-align: center;
}

input {
    font-family: 'Poppins', sans-serif;
}

input[type=email] {
    width: 100%;    
    padding: 7.5px 30px 7.5px 50px;
    margin-bottom: 1.7rem;

    background-image: url('/assets/icons/email-icon.svg');
    background-position: 15px 7.5px;
    background-repeat: no-repeat;

    border: 3.93px solid $dark-80;
    border-radius: 100px;
    
    font-size: 1.077rem;
    
    
    &::placeholder {
        color: $dark-minus;
    }
    
    &:focus-visible {
        outline: 0.5px solid $dark;
    }

    
}

input[type=submit] {    
    padding: 0.65rem 2.6rem;
    margin: 0 auto;

    background-image: $to-right;

    outline: none;
    border: none;
    border-radius: 70px;

    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.07rem;
    color: $light-minus;
}




