.modal {    
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    visibility: hidden;
    // visibility: visible;
    z-index: 0;
    // top: 3.84rem;
    top: 50rem;
    display: flex;
    flex-direction: column;
    // transition: .4s ease-in;

    width: 90%;    
    height: 32.76rem;
    padding: 0 1.93rem;

    background: $light-plus;    
    border-radius: 1.54rem 1.54rem 0 0;
    box-shadow: 0 -1.5px 6px 0 rgba(26, 15, 15, 0.2);
}

.modal-header {   
    height: 10.54rem;
    
    h4 { 
        margin-top: 2.93rem;       
        font-size: 1.46rem;
        font-weight: 700;
    }

    p {
        margin-top: 0;
        font-size: 1.23rem;
    }
}

.modal-content {
    height: 16rem;
    width: 100%;
    position: relative; 
    top: 0.61rem;    
    
    border-radius: 1.54rem;
    background: $light;

    .modal-border {        
        position: absolute;
        content: '';

        top: -0.16rem;
        bottom: -0.16rem;
        right: -0.16rem;
        left: -0.16rem;

        background-image: $to-right;

        border-radius: 1.64rem;
        z-index: -1;        
    }
}

.top-row, .bottom-row {
    width: 19.54rem;
    
    margin: 1.3rem auto;    
}

.bottom-row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.date-area {
    width: 19.54rem;
}

.time-area {
    width: 6.77rem;    
}

label, .thedate, .thetime {
    display: block;    
          
}

label {    
    margin-top: 0.61rem;
    font-size: 1.23rem;
    font-weight: 700;
}

.thedate, .thetime {
    width: 100%;
    margin-top: 0.61rem;
    padding: 0.42rem;
    padding-left: 2.62rem;

    border: 0.01px solid $dark-minus;
    border-radius: 0.77rem;
    background: $light-minus;
}

.thedate {    
    background-image: url(../../assets/icons/calendar-icon.svg);
    background-repeat: no-repeat;
    background-position: 0.62rem center;
}

.thetime {
    
    background-image: url(../../assets/icons/clock-icon.svg);
    background-repeat: no-repeat;
    background-position: 0.62rem center;
}

.modal-btn {
    width: 9.62rem;
    height: 2.61rem;
    
    border-radius: 2rem;
    outline: none;
    border: none;
    
    color: $light-plus;  
}

.modal-btn-disabled {
    background: $dark-minus-15;
    color: $dark-minus-50;
    cursor: not-allowed;
}

.modal-btn-success, .modal-btn-danger {
    cursor: pointer;
}

.modal-btn-success {
    background: $success;    
}

.modal-btn-danger {
    background: $danger;    
}

.modal-footer {
    margin-top: 1.2rem;
    height: 4.22rem;

    .btn-container {
        position: relative;
        margin-top: 1rem;
        margin-left: 1rem;
        transform: translateY(0);
        transform: rotate(180deg); 
    }
}

