// Primary Colors
$primary: #dc186e;
$primary-minus: #ED5397;
$primary-plus: #B50B56;

$secondary: #2AA1FE;
$secondary-minus: #5EB8FE;
$secondary-plus: #047CD9;

// Dark Colors
$dark: hsl(0, 0%, 16%);
$dark-80: hsla(0, 0%, 16%, 0.8);

$dark-minus: #3B3B3B;
$dark-minus-60: hsla(0, 0%, 23%, 0.6);
$dark-minus-85: hsla(0, 0%, 23%, 0.85);
$dark-minus-50: hsla(0, 0%, 23%, 0.5);
$dark-minus-15: hsla(0, 0%, 23%, 0.15);

$dark-plus: #121212;

// Light Colors
$light: #F5F5F5;
$light-minus: #FFF;
$light-plus: #EDEDED;

// Alert Colors
$success: #00A878;
$info: $secondary;
$danger: #C21543;

// Gradient Backgrounds
$to-right: linear-gradient(to right, $primary, $secondary);
// $to-right-double: linear-gradient(to right, $primary, $primary-plus, $secondary, $secondary-plus);

$to-right-double: linear-gradient(270deg, $secondary-plus 0%, $secondary 20%,  $primary-plus 90%);
$to-left-double: linear-gradient(270deg, $primary-plus 10%, $secondary 80%, $secondary-plus 100%);
$to-right-test: linear-gradient(250deg, $secondary-plus 5%, $secondary 20%,  $primary 90%);

$to-right-plus: linear-gradient(to right, $primary, $secondary-plus);
$to-right-minus: linear-gradient(to right, $primary-minus, $secondary-minus);

$to-left: linear-gradient(to left, $primary, $secondary);
$to-left-minus: linear-gradient(to left, $primary-minus, $secondary-minus);
$to-left-plus: linear-gradient(to left, $primary, $secondary-plus);

$header-bg: linear-gradient(to bottom right, $light-minus, $light-plus);
$circle-bg: radial-gradient($light, $light-minus);


